.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #485368;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.encasing-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-div {
  display: inline;
  margin: 5vw;
  
  &--hunter {
    background-color: aquamarine;
    padding: 5vw;
    color: black;
    border: 5px solid green;
  }
  &--quarry {
    background-color: coral;
    padding: 5vw;
    color: black;
    border: 5px solid orangered;

  }
}
